@import "tailwindcss";

@theme {
  --default-font-family: "Oswald", serif;
  --font-geist: "Geist";
  --font-geist-mono: "Geist+Mono";
}

select {
  appearance: none;
  background-image: url("./assets/utils/CaretDown.svg");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 1.25rem auto;
}

.shadow-hard {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4), 0 4px 20px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background: #a8a5a5;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}